{% macro variable_item(code_name, name, value, lang, id, is_active, hide) %}
    <form {% if hide == 1 %} style="display:none;" {% endif %} onchange="save_variable(this);">
        <input type="hidden" name="id" value="{{ id }}">
        <span><input type="text" name="lang" value="{{ lang }}" size="3"></span>
        <span><input type="text" name="code_name" value="{{ code_name }}"></span>
        <span><input type="text" name="name" value="{{ name }}"></span>
        <span><input type="text" name="value" value="{{ value }}"></span>
        <span><input type="checkbox" name="is_active" {% if is_active %} checked {% endif %}></span>
    </form>
{% endmacro %}
{% import _self as v %}

<script>
    function new_variable(btn) {
        var variables = document.getElementById("variables");
        var variable = variables.firstElementChild.nextElementSibling.cloneNode(1);
        variable.style.display="";
        variables.append(variable);
    }
    
    function save_variable(form) {
        sendform(form, "save_any_variable", {func_success: function(res, arg) {
            form.id.value = res.data.id;
        },url:mod_settings.url_api});
        console.log([form.code_name.value, form.name.value, form.value.value, form.lang.value]);
    }
</script>

{% if not variables %}
    <span>Переменные отствуют</span>
{% endif %}

<div id="variables">
    <div>
        <span>Язык</span>
        <span>Имя для кода</span>
        <span>Название</span>
        <span>Значение</span>
    </div>
    {{ v.variable_item("", "", "", "", "", "", 1) }}
    {% for variable in variables %}
        {{ v.variable_item(variable.variable_code_name, variable.variable_name, variable.variable_value, variable.variable_lang, variable.variable_id, variable.variable_is_active) }}
    {% endfor %}
</div>

<input type="button" value="Добавить новую" onclick="new_variable(this);">